<html>
<head>
  <title>Orq-Pipeline</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/orq.css">
  <!-- production version, optimized for size and speed -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
  <body>
      <div id="app">
        <section>
            <img src="assets/imgs/docker.png" alt="">
          <div class="descrition">
            <p>Orq-Pipeline</p>
            <small>Orquestrador de containers Docker com pipelines</small>
          </div>
        </section>
        <section class="content">
          <h1> Não há configurações definidas para o domínio {{domain}} <span class="alert-title-erro"> :-( </span></h1>
          <small>Verifique se esta aplicação está devidamente configurada e tente novamente.</small>
        </section>
      </div>
  </body>
</html>
<script>
  var app = new Vue({
    el: '#app',
    data: {
      domain: document.domain
    }
  })
</script>
