body {
  background-color: #2393e8;
  font-family: 'Open Sans', sans-serif;
  color: #27343b;
  font-size: 14px;
  overflow-x: hidden;
}
section {
  margin-left: 15px;
  margin-right: 15px;
  margin:auto;
  max-width: 40em;
  text-align: center;
}
section img {
  width: 100%;
  max-width: 18em;
}
.descrition {
  margin:1em 0 4em 0;
}
.descrition p {
  font-size: 3em;
  font-weight: bolder;
  margin:0;
}
.content h1 {
  color: #FFF;
}
.alert-title-erro {
  transform: rotate(90deg);
  display: inline-block;
  font-size: 1.1em;
  margin-left: .5em;
  font-weight: 600;
}
